#city-Search{
   width: 15%;
}
h1{
    display: flex;
}
.container-fluid{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: medium;
    justify-content: center;
}

#featured-container {
    /* display: flex; */
    flex-direction: column;
}
#featured-container button{
    min-width: 200px;
    margin-bottom: 2px;
    margin-right: 20px;
}


    
.col-6col-sm-4{
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
}
#current-day{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#five-day{
display: flex;
flex-direction:row ;
justify-content: space-between;

}
